::-webkit-scrollbar-track{
    background: #02345a;
}
::-webkit-scrollbar-thumb{
    background: #015088;
}
::-webkit-scrollbar-thumb:hover{
    background: #2876ad;
}

::selection{
    background-color: rgb(15, 2, 33);
    color: #FFD53D;
}

:root{
    --main-dark: #272a2e;
    --second-dark: #015088;
    /* --second-dark:#89A7BC; */
    --font-color:#EEEEEE;
    --font-color-old: #ffd242; 
}

body{
    background-color: var(--main-dark);
}

/* content */

/* main */

.content div{
    background-color: #d0d7db;
}

.navbar{
	background-color: var(--second-dark);
	color: #ffd242;
}

.menu ul li a{
	color: #ffd242;
}

.menu ul li a:hover{
    color: white;
}

.dropdown-menu{
    background-color: #015088;
}

.buttons{
    border: 2px solid #ffd242;
	background-color: var(--second-dark);
    color: #ffd242;
}

.buttons:hover{
    border: 2px solid var(--second-dark);
    background-color: #ffd242;
    color: #05273f;
}

#counteries h1{
    color:  #ffffff;
}

/* end of main */


/* greece */
.contyu h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7em;
    padding-bottom: 35px;
    color: white;
}
.contyu p{
    font-size: 1.em;
    font-weight: 400;
    color: white;
}
.yq .jm .conbox::before{
    background:black;
}
.pk{
    color: white;
}
.ip{
    color: white;
}
.must{
    color: white;
}
.fast{
    color: white;
}
.poz{
    background-color: #535457;
}
.input{
    background-color:  rgb(187, 183, 183);
}

.info{
    color:maroon;
}

.about{
    border: solid 0px gray;
    background-color: white;
}

.wherey{
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    color: #c8c8ee;
    margin: 45px 90px;
}

.his{
    color: #c8c8ee;
}

.imp{
    color: white

}
.information2{
    color: white;
}
.information{
    color: #c8c8ee;
}

.card,.card2{
    background-color: #535457;
}

.cardc{
    background-color: #50545f;
  }

.contener{
    border: 0px solid white;
}

.Average{
    color: #c8c8ee;
}

.clim{
    color: white;
}

.tabli thead tr{
    background-color: rgb(239, 240, 240);
}

.tabli tbody tr{
    border-right: 1px solid #dddddd;
}

#story{
    background-color: #e63d4bb6;
}

.contener2{
    border: 0px solid white;
}

.card2,.card{
    box-shadow: 0 5px 25px rgba(126, 125, 125, 0.5);
}

.time{
    color: #292727;
}

.ant{
    color: #c8c8ee;
}
/* end of greece */

/* egypt */
.con{
    background-color:#aec7e7;
    border: 1px solid #0067B3;
    color: black;
}

table caption{
    color: white;
}

.caption h3{
    color: rgb(255, 255, 255);
    background-color: #FFD53D;
}

.caption video{
    background-color: #FFD53D;
}

table{
    border: 1px solid #FFD53D;
    background-color: #FFD53D;
    color: black;
}

table td{
    background-color:#147da3;
    color: #fff;
}

iframe{
    border: 5px solid #FFD53D;
}

#Flag td{
    background-color: #FFD53D;
    color: black;
}

table a{
    color: black;    
}

.comcont{
    background-color:  var(--second-dark);
}

.comment{
    border: 1px solid black;
    background:#0067B3;
    color: white;
}

.stars label{
    background-color: silver;
}

.win{
    background-color: green;
}
.lose{
    background-color: red;
}
.titleF{
    background-color: #0067b2;
}
.draw{
    background-color: #eee;
    color: #0067b2;
}
#submit{
    color: var(--font-color);
    background-color: var(--second-dark);
}

.upload input~ [type=text]{
    background-color: #eee;

}
/* end of egypt */

/* footer */

footer{
    background-color: var(--second-dark);
    border: 1px solid black;
}

footer a:hover{
	color: #ffd242;
}

.footerContainer{
    color:  #ffffff;
}

.footerContainer a{
    color:  #ffffff;
}

#book{
    background-color: #8485b4d0;
}

#x{
    color: #ddd3d3;
}   

#pair,#sair{
    background-color: #272a2e;
}

#signbox h2,#regbox h2,form label{
    color: rgb(212, 214, 216);
}

#alerttext{
    color: var(--second-dark);
}

#alertbox,#falertbox{
    background-color: #1f252b;
    color: white;
}

.temp a{
    color: #8485b4;
}
.temp a:hover{
    background-color: #474748;
    color: black;
}
.where{
    background: black;
    color: white;
    border: 0px black solid;
    background-color: #45474a;
    border-radius: 100px;
    
}
.where:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;
}
.uwu{
    background-color: #45474a;

}
.yu{
    color: rgb(221, 220, 220);
}
.dots label{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid white 3px;
    cursor: pointer;
    transition: all 0.15s ease;
}
.dots label:hover{
    background: white;
}
.hj{
    background-color: #45474a;
}
.art1{
    color: white;
}
.trv{
    color: white;
    border-radius: 10px;
}
.top{
    color: white;

}
.in{
    background-color: #45474a;
    border-radius: 30px;
}
.no1{
    background-color: #272a2e;
}

.words{
    color: white;
}
.activites{
    color: white;
    border-radius: 30px;
}
.pol{
    color: white;
}
.po{
    
    border-radius: 30px;
    background-color: #45474a;
}
.ang{
    background-color: #45474a;
}

.test{
    background-color: #272a2e;
}
.qatar{
    background-color: #45474a;
}

.hero-section .content h4 {
    color: #ffffff;
  }
  .hero-section .content h1 {
    color: #ffffff;
   }
   .hero-section .content h1:hover{
    color: #ff0037;
  }
  .span{
    color: #151b25;
}
.food{
    background-color: #272a2e;
  }
  .overlay {
    background-color: #02345a;
  }
  .text {
    color: rgb(255, 255, 255);
  }
  .country-restaurant-section{
    background-color: #151b25;
  }
  .country-restaurant-section p{
    color: #e4edfd;
  }
  
   .country-restaurant-section  h3{
    color: #eff6ff;
  }
  .egypt{
    background-color: #151b25;
  }
  .egypt p{
    color: #e4edfd;
  }
   .egypt h3{
    color: #eff6ff;
  }
  .in-egypt {
  background-color: rgb(15, 2, 33);
  }
  .in-egypt p{
    color: #e4edfd;
  }
   .in-egypt h3{
  color: #eff6ff;
  }
  .greece{
    background-color: #151b25;
  }
  .greece p{
    color: #e4edfd;
  }
  
   .greece h3{
    color: #eff6ff;
  }
  .in-greece {
  background-color: rgb(15, 2, 33);
  }
  

  .in-greece p{
    color: #e4edfd;
  }
  
   .in-greece h3{
  color: #eff6ff;
  }
  .italy{
    background-color: #151b25;
  }
  .italy p{
    color: #e4edfd;
  }
  
   .italy h3{
    color: #eff6ff;
  }
  .in-italy {
  background-color: rgb(15, 2, 33);
  }
  .in-italy p{
    color: #e4edfd;
  }
   .in-italy h3{
  color: #eff6ff;
  }
  .india{
    background-color: #151b25;
  }
  .india p{
    color: #e4edfd;
  }
   .india h3{
    color: #eff6ff;
  }
  .in-india {
  background-color: rgb(15, 2, 33);
  }
  .in-india p{
    color: #e4edfd;
  }
   .in-india h3{
  color: #eff6ff;
  }
  .spain{
    background-color: #151b25;
  }
  .spain p{
    color: #e4edfd;
  }
   .spain h3{
    color: #eff6ff;
  }
  .in-spain {
  background-color: rgb(15, 2, 33);
  }
  .in-spain p{
    color: #e4edfd;
  }
   .in-spain h3{
  color: #eff6ff;
  }
  .turkey{
    background-color: #151b25;
  }
  .turkey p{
    color: #e4edfd;
  }
   .turkey h3{
    color: #eff6ff;
  }
  .in-turkey {
  background-color: rgb(15, 2, 33);
  }
  .in-turkey p{
    color: #e4edfd;
  }
   .in-turkey h3{
  color: #eff6ff;
  }
  .france{
    background-color: #151b25;
  }
  .france p{
    color: #e4edfd;
  }
   .france h3{
    color: #eff6ff;
  }
  .in-france {
  background-color: rgb(15, 2, 33);
  }
  .in-france p{
    color: #e4edfd;
  }
   .in-france h3{
  color: #eff6ff;
  }
  .country-maindishes-section{
    background-color: #151b25;
  }
  .country-maindishes-section p{
    color: #e4edfd;
  }
   .country-maindishes-section  h3{
    color: #eff6ff;
  }


.hero-section {
    background-color: #272a2e;
  }
  .hero-section .content h4 {
    color: #e4edfd;
  }
  .hero-section .content h1 {
    color: #02345a;
   }
   .hero-section .content h1:hover{
     color: #ff2323;
   }
   .span{
    color: #151b25;
}
.country-section{
    background-color: #272a2e;
  }
  .country-section p{
    color: #e4edfd;
  }
  
   .country-section  h3{
    color: #eff6ff;
  
  }
  .madrid{
    background-color: #151b25;
  }
  .madrid p{
    color: #e4edfd;
  }
  
   .madrid h3{
    color: #eff6ff;
  }
  .in-madrid {
    background-color: rgb(15, 2, 33);
  }
  
  .in-madrid h3{
    color: #eff6ff;
  }
  .in-madrid p{
    color: #e4edfd;
  }
  .barcelona {
    background-color: #151b25;
  }
  .barcelona h3{
    color: #eff6ff;
  }
  
  .barcelona p {
    color: #e4edfd;
  }
  .in-barcelona {
    background-color: rgb(15, 2, 33);
  }
  .in-barcelona h3{
    color: #eff6ff;
  }
  .in-barcelona p{
    color: #e4edfd;
  }
  .malaga{
    background-color: #151b25;
  }
  
  .malaga h3{
    color: #eff6ff;
  }
  .malaga p{
    color: #e4edfd;
  }

  .in-malaga{
    background-color: rgb(15, 2, 33);
  }
  .in-malaga h3{
    color: #eff6ff;
  }
  .in-malaga p{
    color: #e4edfd;
  }

  .garanda{
    background-color: #151b25;
  }
 
  .garanda h3{
    color: #eff6ff;
  }
  .garanda p{
    color: #e4edfd;
  }
 
  .in-garanda{
    background-color: rgb(15, 2, 33);
  }
  .in-garanda h3{
    color: #eff6ff;
  }
  .in-garanda p{
    color: #e4edfd;
  }
 
  .seville {
    background-color: #151b25;
  }

  .seville h3{
    color: #eff6ff;
  }
  .seville p{
    color: #e4edfd;
  }
 
  .in-seville{
    background-color: rgb(15, 2, 33);
  }
  .in-seville h3{
    color: #eff6ff;
  }
  .in-seville p{
    color: #e4edfd;
  }

  .canary{
    background-color: #151b25;
  }
 
  .canary h3{
    color: #eff6ff;
  }
  .canary p{
    color: #e4edfd;
  }
  
  .in-canary{
    background-color: rgb(15, 2, 33);
  }
  .in-canary h3{
    color: #eff6ff;
  }
  .in-canary p{
    color: #e4edfd;
  }

  .cardc{
    background-color: #50545f;
  }

  .events p,.events h4{
    color: white;
  }
  
  .card h4,.card p{
    color: white;
  }
  
  .info1 div, .info1 h1{
    color: white;
  }
  
  .info2 div, .info2 h1{
    color: white;
  }
  
  .info3 div, .info3 h1{
    color: white;
  }
  
  .info4 div, .info4 h1{
    color: white;
  } 

  #aircard{
    background-color: #8485b4d0 !important;
}

#aname{
    background-color: #545577;
    border-radius: 15px;
}

#price{
    color: rgb(174, 15, 15);
}

#signin input,#signup input{
    border-radius: 6px;
    border: 2px solid grey;
}

#signin input:focus,#signup input:focus{
    border-radius: 12px;
    transition-duration: 0.3s;
    background-color: rgb(214, 213, 213);
}

#signbox,#regbox{
    background-color: #5f6266b5;
    padding: 30px;
    border-radius: 10px;
}
#slidertxt{
  color: white;
}

/* covid */

.accordion {
  background-color:rgba(114, 110, 110, 0.495);
  color:#eeeeee;
}

.active, .accordion:hover {
  background-color:#01508853;
}

.accordion:after {
  color: #777;
}
.desc {
  background-color: rgba(188, 184, 184, 0.732);
}
.second h2{
    color: #eeeeee;
}
.second h3{
    color: #eeeeee;
}
.second p{
    color: #eeeeee;
}
.instruct li{
    color: #eeeeeec7;
}
.instruct p{
    color:#eeeeee85;
}

.table th{
  background-color:#e1c66c;
}
.table td{
  color: #eee;
  background-color:#358ac6;
}
.table table,th,td{
  border: 5px solid black;
}
.table th,td{
  border: 2px solid black;
}
.table caption{
  color:#eeeeee ;
  background-color: #272a2e;
  
}
/* end of covid */

/* turkey */

.text h2{
  color:#66a6d1;
}
.text h4{
  color: #eeeeee;
}
.main-btn{
  color: #FFD53D;
  background-color: #015088;
}
.cards{
  background-color: #272a2e;
}
.title h2{
  color:#eeeeee ;
}
.title h3{
  color: #eeeeee98;
}
.row{
  background-color: #272a2e;
}
.image{
  background-color: #8ccbe5;
}
.image .info{
  color: #fff;
}
.more{
  background-color: rgba(75, 72, 72, 0.84);
}

.more .know-more{
  color: #eeeeee;
}
.card-food{
  background-color: #272a2e;
}
.title-food h2{
  color: #eeeeee;
}
.title-food h4{
  color: #eeeeee98;
}
.title-food p{
  color: #eeeeee73;
}
.read{
  color: #FFD53D;
  background-color: #015088;
}
.contentr{
  background-color: #272a2e;
}
.image-food{
  background-color: #8ccbe5;
}
.image-food .details{
  color:#fff;
}
.video-cards{
  background-color: #272a2e;
}
.video-title h2{
  color:#eeeeee ;
}
.video-title h4{
  color: #eeeeee98;
}
.content-v{
  background-color: #272a2e;
}
.video{
  border-color: #0067B3;
}
.video .text{
  color:#fff;
}
.hotel-cards{
  background-color: #272a2e;
}
.title-hotel h2{
  color:#eeeeee ;
}
.title-hotel h3{
  color: #eeeeee98;
}
.see{
  color: #FFD53D;
  background-color: #015088;
}
.square{
  background-color: #272a2e;
}
.image-hotel{
  background-color: #8ccbe5;
  box-shadow: 0px 5px 25px rgba(1 1 1 /50%);
}
.image-hotel .name{
  color:white;
}
.title-information{
  background-color: #272a2e;
}
.title-information h2{
  color:#eeeeee ;
}
.inform{
  background-color: rgba(87, 81, 84, 0.689);
}
.a h1{
  color:#66a6d1;   
}
.a h5{
  color:#eeeeee;
}
.a p{
  color: #eeeeee98;
}

.b h5{
  color:#eeeeee;
}
.b p{
  color: #eeeeee98;
}
.c h5{
  color:#eeeeee;
}
.c p{
  color: #eeeeee98;
}
.d h1{
  color:#66a6d1;
}
.d h5{
  color:#eeeeee;
}
.d p{
 color: #eeeeee98;
}
.inform-2{
  background-color:rgba(87, 81, 84, 0.689) ;
}
.e h5{
  color:#eeeeee;
}
.e p{
  color: #eeeeee98;
}
.inform-3{
  background-color: rgba(87, 81, 84, 0.689);
}
.f h1{
  color:#66a6d1;
}

.f h5{
  color:#eeeeee;
}
.f p{
  color: #eeeeee98;
}
.g h5{
  color:#eeeeee;
}
.g p{
  color: #eeeeee98;
}
.inform-4{
  background-color: rgba(87, 81, 84, 0.689);
}
.h h1{
  color:#66a6d1;
}

.h h5{
  color:#eeeeee;
}
.h p{
  color: #eeeeee98;
}
.inform-5{
  background-color: rgba(87, 81, 84, 0.689);
}
.i h1{
  color:#66a6d1;
}

.i h5{
  color:#eeeeee;
}
.i p{
  color: #eeeeee98;
}
section{
  background-color: #272a2e;
}
.player{
  background-color: white;
  box-shadow: 0 50px 80px rgba(0, 0, 0,0.5);
}

.audio p{
  color:#eeeeee ;
}
.table table,th,td{
  border: 5px solid #66a6d1;
}
.table caption{
  color:#eeeeee ;
}
.table td{
  color: #eeeeee;
}
.table tr:nth-child(odd){
  background: #fed53d;
  
}
/* end of turkey */

/* italy */


.parent{
  background-color: #fff;
  
}


.main h2 {
   color:#002fb0;

}
.main h2 span  {
  color:rgba(255, 120, 102, 0.986);

}
.main-btn{
  color:#FFD53D;
   background-color: #015088;


}
.main-btn:hover {
  background-color: #002fb0;
 
}
body {
 background-color: #272a2e;
   
   
}

.special-heading {
   color:#eeeeee;
}
.card{
   background-color: #fff;
 
   box-shadow: 0 5px 25px rgba(1 1 1 / 50%);
   
   
}
.host p{
   color:#99aab5;
}



.title h2{
   color:#eeeeee;
 
}
.title p{
   color: #eeeeee;
}
.btn-food{
  color:#FFD53D;
   background-color: #015088;
  

}
.btn-food:hover {
   background-color: #002fb0;

}



.food .image-food{
  
  
   box-shadow: 0 5px 25px rgba(1 1 1 / 50%);
   
   background-color: #fff;
   
}

   





.colo h1{
   

  
  color:#eeeeee;
  

}

.omg{
   background: #50A7FF;
  
   
   

}


.omg .details{
 
   color:#fff;


}

.read-more{

   background-color: #f6f6f6;
  
}

.bi h1{
  color:#eeeeee;
  

}
.bi p{
  
   color:#eeeeee;
  
}
.one{
  
   background-color:#ffdbac;
  
}

.text-1 h1{
   color:linear-gradient(to bottom, #000066 0%, #66ccff 100%);
   
   
}
.text-1 h5{
  
   color:#002fb0;
   
}


.text-2 h5{
  
   color:#002fb0;
  
}


.text-3 h5{
  
   color:#002fb0;
  
}


.two{
  
   background-color: #99aab5 ;
  
}

.text2-1 h1{
  color:linear-gradient(to bottom, #000066 0%, #66ccff 100%);
 
}
.text2-1 h5{
  
   color:#002fb0;
   
}



.text2-2 h5{

  color:#002fb0;
   
}

.text2-3 h5{
   
   color:#002fb0;
   
}

.three{
  
   background-color: #8b9dc3 ;
  
}

.text3-1 h1{
   color:linear-gradient(to bottom, #000066 0%, #66ccff 100%);
   
   
}
.text3-1 h5{
   
   color:#002fb0;
  
}



.text3-2 h5{
 
   color:#002fb0;
  
}


.text3-3 h5{
  
   color:#002fb0;
 
}


.four{
   
   background-color:#c0c5ce;

}

.text4-1 h1{
   color:linear-gradient(to bottom, #000066 0%, #66ccff 100%);
  
   
}
.text4-1 h5{

   color:#002fb0;
  
}


.text4-2 h5{

   color:#002fb0;
   
}


.text4-3 h5{
   
   color:#002fb0;
   
}
.finally h1{
   color: #eeeeee;
}
.texto h3{
color:#eeeeee;
}

.player{
  
   background: #f1f3f4;

   box-shadow: 0 5px 80px #000;
  
  
   
}
 /* end of italy */

/* what */
.ones1{
  color:#eeeeee;
}


.two{
  
  background-color: #99aab567 ;
 
}

.text2-1 h1{
 color:linear-gradient(to bottom, #000066 0%, #66ccff 100%);
 ;
  
}
.text2-1 p{
 
  color:#eeeeee;
 
}
.ones caption{
  color:#eeeeee;
}
.ones tr ,td p{
  color:#eeeeee;
}
.ones th, td{
  border: 5px solid #000;
 
  
}

.ones tr:nth-child(even){
  background-color: #e35d6a;
}
.fifty caption{
  color:#eeeeee;
}
.fifty tr,td p{
  color: #eeeeee;
}
.three{

  background-color:#c0c5ce8e ;
 
}


.text3-1 h1{
 color:linear-gradient(to bottom, #000066 0%, #66ccff 100%);
 
}
.text3-1 p{
 
  color:#eeeeee;
  
}




.fifty table, th, td{
  border:1px solid #000;
  

}
.fifty th, td{
  border: 5px solid #000;
  
}


.fifty tr:nth-child(odd){
  background-color:#36802d;
}


.four{
 
  background-color:#77ab59 ;
  
}


.text4-1 h1{
 color:linear-gradient(to bottom, #000066 0%, #66ccff 100%);

}
.text4-1 p{
 
  color:#eeeeee;
 
}



.fourty th, td{
  border: 5px double #000 ;
  

}

.fourty tr:nth-child(even) {
  background-color: #272a2e;
}
.fourty tr:nth-child(odd) { 
  background:#234d20;
}
.fourty caption{
  color:#eeeeee;
}
.fourty  tr,td p{
  color:#eeeeee;
}

.five{
  
  background-color:#ffa9a59d;
  
}

.text5-1 h1{
 color:linear-gradient(to bottom, #000066 0%, #66ccff 100%);
 
}
.text5-1 p{
  
  color:#eeeeee;
 
}

.fourty th, td{
  border: 5px solid #000 ;

  

}
.seventy caption{
  color: #eeeeee;
}
.seventy tr,th p{
  color:#eeeeee;
}
.seventy tr:nth-child(even) {
  background-color: #272a2e;
}
.seventy tr:nth-child(odd) { 
  background:	#9e379f;
}

.six{
  
  background-color:#83d0ca77;

}



.text6-1 h1{
 color:linear-gradient(to bottom, #000066 0%, #66ccff 100%);
 
}
.text6-1 p{

  color:#eeeeee;
  
}


.sixty tr:nth-child(even) {
  background-color: #272a2e;
}
.sixty tr:nth-child(odd) { 
  background:	#009246;
}
.sixty caption{
  color:#eeeeee;
}
.sixty tr,td p{
  color:#eeeeee;
}
.eight h1{
  align-items: center;
  font-size: 60px;
  color:#eeeeee;

}

/* Next & previous buttons */
.prev, .next {
 
  color: white;
 
}

/* Position the "next button" to the right */


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;

}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
 
}

/* The dots/bullets/indicators */
.dot {
 
  background-color: #bbb;

}

.active, .dot:hover {
  background-color: #717171;
}
