*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.jkl{
    width: 7%;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
}

a{
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 600;
}


.bnm {
    width: 50%;
    display: flex;
    justify-content: space-between;
    
    
}

.search{
    height: 50px;
    width:200px;
    padding: 10px;

}
.information{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
}
.input{
    border: none;
    height: 50px;
    width:200px;
    height: 30px;
    width: 85%;
}

.roma{
    
    width: 100%;
    height: 100vh;
    background-image: url(https://cdn.wallpapersafari.com/48/37/5XJMeH.jpg);
    background-size: cover;
    background-position: center;
    
}

.info{
    height: 190px;
    display: flex;
    font-size: 2.4em;
    font-weight:bold;
    letter-spacing: 2px;
    font-family:Cursive;
    padding: 130px 140px;
}

.about{
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 25px;
    font-size: 13px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 150px;

}

.where{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 45px 90px;
}
.his{
    font-size: 35px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 3px;
    font-weight: 700;
    margin: 16px 90px;
}

.imp{
    margin: 20px 90px 30px 90px;
    font-size: 1.1em;
}
.contener{
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;    
}
.card{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 40px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 50%);
    border-radius: 10px;
    transition:0.7s ease;
}
.photo{
    width: 300px;
    height: 300px;
}

.information{
    
    font-size: 1.6em;
    font-family: Cursive;
}

.card:hover{
    
    transform:scale(1.1,1.1)
}


.card:hover .photo{
    opacity: 0.9;
}



.weather{
    display: flex;
    flex-direction: column;

    padding-top: 20px;
}

.Average{
    font-size: 35px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 3px;
    font-weight: 700;
    margin: 5px 120px;
    padding: 20px;

}

.clim{
    margin: 20px 120px 30px 144px;
    font-size: 1.1em;
    margin-right: 10px;
}

.tabli{
    border-collapse: collapse;
    margin: 70px 144px;
    font-size: 1.1em;
    min-width: 600px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(1 1 1 / 30%);
   
}
.tabli thead tr{
    text-align: left;
    font-weight: bold;
}

.tabli th,
.tabli td{
    padding: 12px 15px;
}

.tabli tbody{
    color:orange;
    font-family: Arial, Helvetica, sans-serif;
}

.story{
    width: 100%;
    height: 85vh;
    background-color: #e63d4bb6;
    
}
.myt{
    font-family:'Times New Roman', Times, serif;
    font-size: 2em;
    display: flex;
    padding-left: 50px;
    align-items: center;    
    padding-top: 20px;
    padding-right: 200px;
    margin: 20px;
}
.poop{
    width:750px ;
    letter-spacing: 1px;
    font-size: 1.1em;
    padding-left: 5px;
}
#story{
    overflow: hidden;
    padding-bottom: 10px;
}
.okl{
    display: flex;

}

.ant{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    font-family:'Times New Roman', Times, serif;
    padding-top:30px ;
}
.contener2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding-top: 19px;
}

.card2{
    padding-top: 10px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 40px;
    padding-left: 15px;
    border-radius: 5px;
}
.information2{
    font-size: 1.2em;
    font-family: Cursive;
    padding-left: 10px;
}

.time{
    font-size: 12px;
    font-weight: 100;
}
.contener3{
    padding-top: 40px;
}

.min{
    width: 700px;
    height: 600px;
}

.dif{
    padding-left:20px ;
    font-size: 1.4em;

}
.poz{
    border: solid 1px blue;
    border-radius: 40px;
    margin: 30px 30px 30px 25px;
    width: 97%;
    min-height: 100vh;
}
.must{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 3px;
    font-weight: 700;
    margin: 30px 30px 30px 30px;
}
.ym{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.fast{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    margin-left: 30px;
}
.ip{
    margin: 20px 0px 30px 20px;
    font-size: 2.8em;
    font-weight: 600;
    letter-spacing: 2px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.zxc{
    width: 45%;
    float: right;
    padding: 10px;
}
.pk{
    padding:  0px 15px 15px 15px;
    font-size: 1.3em;
}
.kz{
    margin: 20px 15px 20px 0px;
}


.elpos{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68vh;

}

.yq{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1100px;
}

.yq .jm{
    overflow: hidden;
    position: relative;
    width: 400px;
    height: 400px;
    margin: 15px;
}

.yq .jm .imgbx,
.yq .jm .conbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.yq .jm .imgbx img{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.yq .jm .conbox::before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
transform: scaleX(0);
transition: transform 0.5s ease;
transform-origin: left;
opacity: 0.8;
}
.yq .jm:hover .conbox::before{
    transform: scaleX(1);
    transition: transform 0.5s ease;
    transform-origin: left;
    opacity: 0.8;
}

.yq .jm .conbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.yq .jm .conbox .contyu{
    position: relative;
    padding: 30px;
    z-index: 1;
    transition: 0.5s;
    transform: translateX(-400px);
}

.yq .jm:hover .conbox .contyu{
    transform: translateX(0px);
}
.contyu h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7em;
    padding-bottom: 35px;
}
.contyu p{
    font-size: 1.em;
    font-weight: 400;
}

