@import url('https://fonts.googleapis.com/css2?family=My+Soul&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
  .hero {
    height: 100vh;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 2rem;
  }
   
  
  
  
  .hero-section {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* margin: 0 auto;*/
    padding: 0 5rem;
   /* background-image: url(download.jpeg);*/

  }

  .hero-section .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5rem;
    margin-top: 10rem;
    margin-left: 0rem;
  }
  .hero-section .content h4 {
    font-family: 'Inconsolata', monospace;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .hero-section .content h1 {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.3rem;
    margin-bottom: 1rem;
  }
  .hero-section .content h1:hover{
    display: grid;
    align-items: center;
    font-size: 2.9rem;
    transition: .5s;
  }



.food{
    
    height:130vh;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .food-section{
    margin: 0 auto;
  padding: 0 5rem;


  }
  .food .content{
    padding-left: 2rem;
    margin-top: 7rem;
  
  }
  .container {
    position: relative;
  width: 100%;
  margin: 2rem 0;
  max-width: 300px;


  }
 

  
  .image {
 
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .country-restaurant-section p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
  }
  
   .country-restaurant-section  h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.2rem;
    margin-bottom: .5rem;
  
  
  }
  .country-restaurant-section .countries-restaurant{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: flex-start;
  }
  
  .countries-restaurant .country-restaurant{
    margin: 2rem 0;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .country-restaurant  img {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
    height:200px;
  }
  .country-restaurant  img:hover{
    scale: 1.3;
    cursor: pointer;
  }
  
  .country-restaurant h3 {
    font-size: 1.6rem;
  }
  
  .country-restaurant h3:hover{
    display: grid;
    align-items: center;
    font-size: 1.8rem;
    transition: .4s;
  }

  .egypt{
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1  1;
    padding: 0 5rem;
  }
  
  .egypt div{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .egypt p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
  }
  
   .egypt h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .egypt img{
    margin-top: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    width: 450px;
    height: 580px;
  }

  .in-egypt {
    display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 1  1;
  padding: 0 5rem;
  }
  

  .in-egypt p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
  }
  
   .in-egypt h3{
    margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  }
  
  .in-egypt img{
    width: 700px;
    height: 450px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .greece{
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1  1;
    padding: 0 5rem;
  }
  
  .greece div{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .greece p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
  }
  
   .greece h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .greece img{
    margin-top: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    width: 450px;
    height: 580px;
  }

  .in-greece {
    display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 1  1;
  padding: 0 5rem;
  }
  

  .in-greece p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
  }
  
   .in-greece h3{
    margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  }
  
  .in-greece img{
    width: 700px;
    height: 450px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .italy{
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1  1;
    padding: 0 5rem;
  }
  
  .italy div{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .italy p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
  }
  
   .italy h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .italy img{
    margin-top: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    width: 450px;
    height: 580px;
  }

  .in-italy {
    display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 1  1;
  padding: 0 5rem;
  }
  

  .in-italy p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
  }
  
   .in-italy h3{
    margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  }
  
  .in-italy img{
    width: 700px;
    height: 450px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .india{
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1  1;
    padding: 0 5rem;
  }
  
  .india div{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .india p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
  }
  
   .india h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .india img{
    margin-top: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    width: 450px;
    height: 580px;
  }

  .in-india {
    display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 1  1;
  padding: 0 5rem;
  }
  

  .in-india p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
  }
  
   .in-india h3{
    margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  }
  
  .in-india img{
    width: 700px;
    height: 450px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .spain{
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1  1;
    padding: 0 5rem;
  }
  
  .spain div{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .spain p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
  }
  
   .spain h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .spain img{
    margin-top: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    width: 450px;
    height: 580px;
  }

  .in-spain {
    display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 1  1;
  padding: 0 5rem;
  }
  

  .in-spain p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
  }
  
   .in-spain h3{
    margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  }
  
  .in-spain img{
    width: 700px;
    height: 450px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .turkey{
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1  1;
    padding: 0 5rem;
  }
  
  .turkey div{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .turkey p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
  }
  
   .turkey h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .turkey img{
    margin-top: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    width: 450px;
    height: 580px;
  }

  .in-turkey {
    display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 1  1;
  padding: 0 5rem;
  }
  

  .in-turkey p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
  }
  
   .in-turkey h3{
    margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  }
  
  .in-turkey img{
    width: 700px;
    height: 450px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .france{
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1  1;
    padding: 0 5rem;
  }
  
  .france div{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .france p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
  }
  
   .france h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .france img{
    margin-top: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    width: 450px;
    height: 580px;
  }

  .in-france {
    display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 1  1;
  padding: 0 5rem;
  }
  

  .in-france p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
  }
  
   .in-france h3{
    margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  }
  
  .in-france img{
    width: 700px;
    height: 450px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .country-maindishes-section p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
  }
  
   .country-maindishes-section  h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.2rem;
    margin-bottom: .5rem;
  
  
  }
  .country-maindishes-section .countries-maindishes{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    justify-content: flex-start;
  }
  
  .countries-maindishes .country-maindishes{
    margin: 2rem 0;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .country-maindishes  img {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
    height:200px;
  }
  .country-maindishes  img:hover{
    scale: 1.3;
    cursor: pointer;
  }
  
  .country-maindishes h3 {
    font-size: 1.6rem;
  }
  
  .country-maindishes h3:hover{
    display: grid;
    align-items: center;
    font-size: 1.8rem;
    transition: .4s;
  }

  .main img{
      width: 100%;
      margin-bottom: .5rem;
  }
  .main .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .main .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .main .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
   .main .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
   .main .column {
      flex: 100%;
      max-width: 100%;
    }
  }

footer{
  margin-top: -8px;
}