/* *{
    box-sizing: border-box;
}

@font-face{
    font-family: google; src: url('fonts/google.ttf');
}

body{
    font-family: google;
    margin: 0;
    display: flex;
    flex-direction: column;
} */


.sob{
    padding: 0px !important;
    margin-top: 15px;
    height: 1.5rem !important;
    width: 5rem !important;
}
#box{
    align-items: center;
    justify-content: center;
    position: relative;
    /* on top */
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 12vh;
    padding: 10vh 25vh 0 25vh;
}

form{
    text-align: center;
}
label{
    font-size: 1.3rem;
}
input{
    height: 1.9rem;
    width: 18rem;
    margin-bottom: 8px;
}

#book{
    margin-top: 13px !important;
    margin: auto;
    min-width: 65vh;
    max-width: 90vh;
    height: 100%;
    border-radius: 5px;
    padding: 5px;
}

/*end of content*/

::-webkit-scrollbar{
    width: 0.750em;
}   

.gone{
    opacity: 0.2;    
}

#go{
    float: right;
    margin-top: 1.7vh;
}

#x{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 9vh;
    height: 5vh;
    z-index: 2;
    font-size: 4vh;
}


#sair{
    max-height:190px; 
    overflow-y :scroll; 
    overflow-x:hidden; 
    position:absolute;
    width:224px;
    display: none;
    padding-top: 3px;
    z-index: 1;
}
#sair a{
    margin: 0 0 2px 6px;
    display: block;
}
#des{
    width: 224px;
}

#pair{
    max-height:190px; 
    overflow-y :scroll; 
    overflow-x:hidden; 
    position:absolute;
    width:224px;
    display: none;
    padding-top: 3px;
    z-index: 1;

}
#pair a{
    margin: 0 0 2px 6px;
    display: block;
}
#dep{
    width: 224px;
}

#date h4{
    margin: 5px 0 0 0;
}
#date{
    padding: 10px;
    max-height: 10vh;
}

#arr{
    float: right;
}
#dept{
    float: left;
}

#numb{
    width: 40px;
}

#signbox{
    margin-left: 5vh;
    float: left;
}

#regbox{
    margin-right: 5vh;
    float: right;
}

.temp{
    padding: 10px;
}

#one{
    display: block;
    position: relative;
    margin-top: 7vh;
    padding: 10px;
}

#one label{
    display: inline-block;
    padding-right: 10px;
    white-space: nowrap;
}

#one input{
    vertical-align: middle;
}

#one label span{
    margin-right: 10px;
    vertical-align: middle;
}

#passen{
    display: inline;
    float: right;
    padding: 0 10px 10px 10px;
}

#alerttext{
    text-align: center;
    /* margin: 32vh auto 1vh auto; */
}

#alertbtn{
    width: 6vh;
    margin: 4vh 27vh 0 27vh;
}

#alertbox{
    transition-duration: 0.4s;
    box-shadow: -0.7vh 0.7vh #ffd242;
    border-radius: 5px;
    margin-top: 25vh !important;
    margin: auto;
    height: 40vh;
    width: 60vh;
    padding-top: 15vh;
}

#alertwrap{
    display: none;
    position: fixed;
    padding: 0;
    margin:0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2 !important;
    background-color: rgba(0, 0, 0, 0.466);
}

@keyframes fading{
    0% {
         opacity: 0;
         transform: scale(0)
    }

    100% {
         opacity: 1;
         transform: scale(1)
    }
}