.sob{
    padding: 0px !important;
    margin-top: 15px;
    height: 1.5rem !important;
    width: 5rem !important;
}
#box{
    align-items: center;
    justify-content: center;
    position: relative;
    /* on top */
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 12vh;
    padding: 10vh 25vh 0 25vh;
}

form{
    text-align: center;
}
label{
    font-size: 1.3rem;
}
input{
    height: 1.9rem;
    width: 18rem;
    margin-bottom: 8px;
}

#book{
    margin-bottom: 15px !important;
    margin-top: 13px !important;
    margin: auto;
    min-width: 65vh;
    max-width: 90vh;
    height: 100%;
    border-radius: 5px;
    padding: 5px;
}

/*end of content*/

::-webkit-scrollbar{
    width: 0.750em;
}   

.gone{
    opacity: 0.2;    
}

#go{
    float: right;
    margin-top: 1.7vh;
}

#x{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 9vh;
    height: 5vh;
    z-index: 2;
    font-size: 4vh;
}

#des{
    width: 224px;
}

#pair,#sair{
    margin-top: -6px;
    max-height:190px; 
    overflow-y :scroll; 
    overflow-x:hidden; 
    position:absolute;
    width:224px;
    display: none;
    padding-top: 3px;
    z-index: 1;

}
#pair a,#sair a{
    margin: 0 0 2px 6px;
    display: block;
}

#dep{
    width: 224px;
}

#date h4{
    margin: 5px 0 0 0;
}
#date{
    padding: 10px;
    max-height: 10vh;
}

#arr{
    float: right;
}
#dept{
    float: left;
}

.numb{
    width: 40px;
    margin-right: 10px;
}

#signbox{
    margin-left: 5vh;
    float: left;
}

#regbox{
    margin-right: 5vh;
    float: right;
}

.temp{
    padding: 10px;
}

#one{
    display: block;
    position: relative;
    margin-top: 7vh;
    padding: 10px;
}

#one input{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

#one label span{
    margin-right: 110px;
    vertical-align: middle;
}

#passen{
    justify-content: space-between;
    display: flex;
    padding: 0 10px 10px 10px;
}

#alerttext,#falerttext{
    text-align: center;
    /* margin: 32vh auto 1vh auto; */
}

#alertbtn,#falertbtn{
    width: 6vh;
    margin: 4vh 27vh 0 27vh;
}

#alertbox,#falertbox{
    transition-duration: 0.4s;
    box-shadow: -0.7vh 0.7vh #ffd242;
    border-radius: 5px;
    margin-top: 25vh !important;
    margin: auto;
    height: 40vh;
    width: 60vh;
    padding-top: 15vh;
}

#alertwrap,#falertwrap{     
    display: none;
    position: fixed;
    padding: 0;
    margin:0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2 !important;
    background-color: rgba(0, 0, 0, 0.466);
}

@keyframes fading{
    0% {
         opacity: 0;
         transform: scale(0)
    }

    100% {
         opacity: 1;
         transform: scale(1)
    }
}

#date input{
    width: 224px;
}
#date label{
    margin: 0 0 0 -235px;
}


#ssub{
    margin-left: 38vh;
}

#aircard{   
    overflow: hidden;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 25px !important;
    margin: auto;
    min-width: 65vh;
    max-width: 90vh;
    background-color: white;
}

#aircard img{
    margin-right: 10px;
    border-radius: 15px;
    float: left;
    height: 110px;
    width: 160px;
}

#results{
    display: none;
}

.pls{
    display: none !important;
}

#aircard div{
    margin-top: 20px;
}

#aname{
    font-size: 2rem;
}
#niceone{
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

#istuf{
    display: flex;
    justify-content: space-between ;
    align-items: baseline;
}
