h3{
    padding: 10px;
}
section{
    padding: 100px 10px 10px 10px;
}
.img-cont{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border: 0px solid #FFD53D;
    border-radius: 10px;
   
    
  
}
.img-cont img{
  
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.4s ease-in-out;
    
}

.img-cont img:hover{
   transform: scale(1.22);
   margin-left: 20px;
   margin-right: 20px;
   cursor: pointer;
   
}
.img-cont button{
   
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 100px;
    border-color: #fff;
    background-color: #ffd53d;
}
.img-cont button i{
    font-size: 5.1em;
}

.bookHotel{
    display: flex;
    padding: 14px;
    margin: 10px;
    background-color: #FFD53D;
    flex-wrap: wrap;
    border-radius: 15px;
    
    
}
.bookHotel input{
    
   padding: 10px;
    margin-left: 10px;
    border-radius: 15px;
    border: none;
}
#searchotel{
 margin-left: 562px;
 padding: 11px 152px;
  margin-top: 15px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #40B0DF;
  border-radius: 15px;
  background-color:  #40B0DF ;
  cursor: pointer;
  position: relative;
 
}
.bestOffers{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   background-image: linear-gradient(24deg,#40c7df, #144da3);
}

.container{
    width: 400px;
    height: 440px;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 15px;
    margin: 30px;
    transition: 0.7s ease;
}
.imagecard{
    filter:grayscale(100) ;
}
.imagecard:hover{
    filter: grayscale(0);
}
.container img{
    width: 100%;
}
.reviews{
    background-image: linear-gradient(240deg, #03171a, #0080b3);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    
}
.recontainer{
    width: 300px;
    height: 470px;
    padding: 10px;
    border: 1px solid #FFD53D;
    background-color: #FFD53D;
    color: #0080b3;
    font-weight: 400;
    margin: 10px;
    
}
.reviews img{
    width: 100%;
    height: 20%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
.blue{
    background-color: #007db3;
    border: #03171a;
    color: #FFD53D;
}
.recontainer{
    width: 100%;
    height: 600px;
}
.recontainer:hover{
    background-color: #011019;
    color: #fff;
    border: none;
   
}
::selection{
    background-color: rgb(238, 238, 238);
    color: rgb(0, 195, 255);
}
.video{
    background-image: linear-gradient(256deg, #03171a, #0080b3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFD53D;
}
.video h2{
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 10px;
}
.video video{
    width: 600px;
    height: 450px;
    border-radius: 15px;
}
.footer{
    background-color: #FFD53D;
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
}
.links{
    font-size: 2em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;

}
.results{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.fakeHotel{
    width: 400px;
   min-height: 250px;
    border: 1px solid #007db3 ;
    border-radius: 10px;
    background-color: #40B0DF;
    margin: 20px;
}
.fakeHotel img{
    width: 350px;
    height: 200px;
    border-radius: 10px;
    margin-left: 20px;
   border: 3px double var(--light-main-color);
}
.results{
   visibility:hidden;
   height: 0;
   margin-top: 10px;
  
}
#hideSearch{
 margin-left: 32px;
 padding: 11px 152px;
  margin-top: 15px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #40B0DF;
  border-radius: 15px;
  background-color:  #40B0DF ;
  cursor: pointer;
  position: relative;
 
}
#show{
    margin-left: 32px;
 padding: 11px 152px;
  margin-top: 15px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #40B0DF;
  border-radius: 15px;
  background-color:  #40B0DF ;
  cursor: pointer;
  position: relative;
}
#starsRating{
    display: flex;
    flex-direction: column;
    
   
}
#starsRating button{
  background-color: black;
  border: none;
  padding: 20px;
  cursor: pointer;
  font-size: 1.7ems;
}
#starsRating button:hover{
    background-color: silver;
}

footer{
    margin-top: 0px !important
}