::-webkit-scrollbar-track{
    background: #7bb1c9;
}
::-webkit-scrollbar-thumb{
    background: #004f88;
}
::-webkit-scrollbar-thumb:hover{
    background: #1186da;
}

::selection{
    background-color: rgb(15, 2, 33);
    color: #FFD53D;
}

.menu ul li:hover .dropdown-menu {
    background-color:#0067b2;
}

body{
    background-color: #d1e2ea;
}

.navbar{
    background-color: #0067B3;
}

.navbar a{
    color: #FFD53D;
}

.navbar a:hover{
    color:  #ffffff;
}

/* content */

/* main */

.content div{
    background-color: #f9fbfc;
}

.content a:hover{
    color: #FFD53D;
}

.navbar{
	background-color: #0067b2;
	color: #ffd242;
}

.menu ul li a{
	color: #ffd242;
}

.menu ul li a:hover{
    color: white;
}

.buttons{
    border: 2px solid #ffd242;
    background-color: #0067b2;
    color: #ffd242;
}

.buttons:hover{
    border: 2px solid #0067b2;
    background-color: #ffd242;
    color: #0067b2;
}

#counteries h1{
    color:  black;
}

/* end of main */

/* greece */
.input{
    background-color:  rgb(187, 183, 183);
}

.info{
    color:maroon;
}

.about{
    border: solid 0px gray;
    background-color: white;
}

.wherey{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    color: rgb(16, 16, 103);
    margin: 45px 90px;
}

.his{
    color: rgb(16, 16, 103);
}

.imp{
    color: rgb(80, 78, 78);

}

.information{
    font-size: 1.6em;
    font-family: Cursive;
}

.contener{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    border: 0px solid white;
}

.Average{
    color: rgb(16, 16, 103);
}

.clim{
    color: rgb(80, 78, 78);
}
.tabli{
    border-collapse: collapse;
    margin: 70px 144px;
    font-size: 1.1em;
    min-width: 600px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(1 1 1 / 30%);
   
}
.tabli thead tr{
    background-color: rgb(239, 240, 240);
    text-align: left;
    font-weight: bold;
}

.tabli th,
.tabli td{
    padding: 12px 15px;
}

.tabli tbody tr{
    border-right: 1px solid #dddddd;
}

.tabli tbody{
    color:orange;
    font-family: Arial, Helvetica, sans-serif;
}
.weather{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.tabli thead tr{
    background-color: rgb(239, 240, 240);
    text-align: left;
    font-weight: bold;
}

.tabli tbody tr{
    border-right: 1px solid #dddddd;
}

#story{
    background-color: #e63d4bb6;
}

.contener2{
    border: 0px solid white;
}
.card{
    color: white;
}

.card2{
    
    box-shadow: 0 5px 25px rgba(1 1 1 / 50%);
}

.time{
    font-size: 12px;
    font-weight: 100;
    color: rgb(148, 146, 146);
}


/* end of greece */

/* egypt */
.con{
    background-color:#fff;
    border: 1px solid #0067B3;
    color: black;
}

table caption{
    color: black;
}

.caption h3{
    color: black;
    background-color: #FFD53D;
}

.caption video{
    background-color: #FFD53D;
}

table{
    border: 1px solid #FFD53D;
    background-color: #FFD53D;
    color: black;
}

table td{
    background-color:#147da3;
    color: #fff;
}

iframe{
    border: 5px solid #FFD53D;
}

#Flag td{
    background-color: #FFD53D;
    color: black;
}

table a{
    color: black;    
}

.comcont{
    background-color: #d1e2ea;
}

.comment{
    border: 1px solid black;
    background:#0067B3;
    color: white;
}

.stars label{
    background-color: silver;
}

.win{
    background-color: green;
}
.lose{
    background-color: red;
}
.titleF{
    background-color: #0067b2;
}
.draw{
    background-color: #eee;
    color: #0067b2;
}
#submit{
    background-color: #FFD53D;
}

.upload input~ [type=text]{
    background-color: #eee;

}
/* end of egypt */

/* footer */

footer{
    background-color: #0067b2;
    border: 1px solid black;
}

footer a:hover{
    color:  #ffffff;
}

.footerContainer{
    color: #fed53d;
}

.footerContainer a{
    color: #fed53d;
}

#book{
    background-color: #eeeeee4b;
}

#x{
    color: black;
}

#pair,#sair{
    background-color: #e5e8ee;
}

#alerttext,#falerttext{
    color: #0067b2;
}

#alertbox,#falertbox{
    background-color: white;
}

.temp a{
    color: black;
}
.temp a:hover{
    background-color: #a3d9ee;
}

body{
    background-color: #D1E2EA;
}
.where{
    background: white;
    color: black;
    border: 0px white solid;
    border-radius: 100px;
}
.where:hover{
    -webkit-text-stroke: 2px black;
    color: transparent;
}
.uwu{
    background: white;

}
.dots label{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid black 3px;
    cursor: pointer;
    transition: all 0.15s ease;
}
.dots label:hover{
    background: black;
}
.hj{
    background: #ffffff;
}
.ang{
    background-color: white;
}
.trv{
    background-color: white;
    color:rgb(16, 16, 103);
}
.tra{
    color:rgb(16, 16, 103);
}
.activites{
    color:rgb(16, 16, 103);
}
.in{
    background-color: white;
}
.qatar{
    background-color: white;
}

.yellow{color: yellow;}
.info1{background-color: blueviolet;}
.evil{color: yellow;}
.info2{background-color: aqua;}
.info3{background-color: #101010;}
.info3inner2{color: chocolate;}
.info4{color: #ffd53d;}
.info5{background-color: #fff;}
 HEAD
.card:hover{
    background-color: #ffd53d;
    color: #fff;
}
.card{background-color: #101010;}
.card:hover{background-color: #ffd53d;
    color: #fff;}


#cn input[type=text]:focus{
    background-color: rgba(68, 83, 68, 0.178);
}

#regbox input[type=email]:focus,#regbox input[type=password]:focus,#regbox input[type=text]:focus{
    background-color: rgba(80, 77, 77, 0.178);
}

#signbox input[type=email]:focus,#signbox input[type=password]:focus,#signbox input[type=text]:focus{
    background-color: rgba(80, 77, 77, 0.178);
}
    

#aircard{
    background-color: #eeeeee4b;
}

#aname{
    background-color: #6b6969a1;
    border-radius: 15px;
}

#price{
    color: red;
}

#signin input,#signup input{
    border-radius: 6px;
    border: 2px solid black;
}

#signin input:focus,#signup input:focus{
    border-radius: 12px;
    transition-duration: 0.3s;
    background-color: #bbb9b9 !important;
}

#signbox,#regbox{
    background-color: #004f88b5;
    padding: 30px;
    border-radius: 10px;
}

/* lightspain */
.hero-section {
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 5rem;
    background-color: #97fceb;
  }
  .hero-section .content h4 {
    color: #4b4646;
    font-family: 'Inconsolata', monospace;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .hero-section .content h1 {
    color: #ff2323;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 2.3rem;
     margin-bottom: 1rem;
   }
   .hero-section .content h1:hover{
     display: grid;
     align-items: center;
     color: #6d0000;
     font-size: 2.9rem;
     transition: .5s;
   }
   .span{
    color: #151b25;
}
.country-section{
    width: 100%;
    background-color: #97fceb;
  }
  .country-section p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
  }
  
   .country-section  h3{
    color: #535353;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    margin-bottom: .5rem;
    margin-top: 2rem;
  
  }
  .madrid{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1  1;
    padding: 0 5rem;
    background-color: #8ccbe5;
  }
  .madrid p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
  }
  
   .madrid h3{
    color: #535353;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .in-madrid {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 1  1;
    padding: 0 5rem;
    background-color: #d7f3ff;
  }
  
  .in-madrid h3{
    margin-top: 2rem;
    color: #535353;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .in-madrid p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
    margin-bottom: 1.3rem;
  }
  .barcelona {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1  1;
    padding: 0 5rem;
    background-color: #8ccbe5;
  }
  .barcelona h3{
    color: #535353;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .barcelona p {
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
  }
  .in-barcelona {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 1  1;
    padding: 0 5rem;
    background-color: #d7f3ff;
  }
  .in-barcelona h3{
    margin-top: 2rem;
    color: #535353;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .in-barcelona p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
    margin-bottom: 1.3rem;
  }
  .malaga{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1  1;
    padding: 0 5rem;
    background-color: #8ccbe5;
  }
  
  .malaga h3{
    color: #535353;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .malaga p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
  }

  .in-malaga{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 1  1;
    padding: 0 5rem;
    background-color: #d7f3ff;
  }
  .in-malaga h3{
    margin-top: 2rem;
    color: #535353;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .in-malaga p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
    margin-bottom: 1.3rem;
  }

  .garanda{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1  1;
    margin-top: 2rem;
    padding: 0 5rem;
    background-color: #8ccbe5;
  }
 
  .garanda h3{
    color: #535353;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .garanda p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
  }
 
  .in-garanda{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 1  1;
    padding: 0 5rem;
    background-color: #d7f3ff;
  }
  .in-garanda h3{
    margin-top: 2rem;
    color: #535353;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .in-garanda p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
    margin-bottom: 1.3rem;
  }
 
  .seville {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1  1;
    padding: 0 5rem;
    background-color: #8ccbe5;
  }

  .seville h3{
    color: #535353;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .seville p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
  }
 
  .in-seville{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 1  1;
    padding: 0 5rem;
    background-color: #d7f3ff;
  }
  .in-seville h3{
    margin-top: 2rem;
    color: #535353;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .in-seville p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
    margin-bottom: 1.3rem;
  }

  .canary{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1  1;
    padding: 0 5rem;
    background-color: #8ccbe5;
  }
 
  .canary h3{
    color: #535353;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .canary p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
  }
  
  .in-canary{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 1  1;
    padding: 0 5rem;
    background-color: #d7f3ff;
  }
  .in-canary h3{
    margin-top: 3rem;
    color: #535353;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
  .in-canary p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
    margin-bottom: 1.3rem;
    margin-top: 1rem;
  }

  /* lightfoods */
  .hero-section .content h4 {
    color: #ffffff;
    font-family: 'Inconsolata', monospace;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .hero-section .content h1 {
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 2.3rem;
     margin-bottom: 1rem;
   }
   .hero-section .content h1:hover{
    display: grid;
    align-items: center;
    color: #ff0037;
    font-size: 2.9rem;
    transition: .5s;
  }
  .span{
    color: #151b25;
}
.food{
    
    background-color: #97fceb;
    height:130vh;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  .text {
    color: rgb(160, 160, 160);
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .country-restaurant-section{
    background-color: #acadff;
  }
  .country-restaurant-section p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
  }
  
   .country-restaurant-section  h3{
    color: #535353;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.2rem;
    margin-bottom: .5rem;
  
  
  }
  .egypt{
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1  1;
    padding: 0 5rem;
    background-color: #5350e9;
  }
  .egypt p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
  }
  
   .egypt h3{
    color: #535353;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .in-egypt {
    display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 1  1;
  padding: 0 5rem;
  background-color: #d7f3ff;
  }
  

  .in-egypt p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
  }
  
   .in-egypt h3{
    margin-top: 2rem;
  color: #535353;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  }
  .greece{
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1  1;
    padding: 0 5rem;
    background-color: #5350e9;
  }
  .greece p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
  }
  
   .greece h3{
    color: #535353;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .in-greece {
    display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 1  1;
  padding: 0 5rem;
  background-color: #d7f3ff;
  }
  

  .in-greece p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
  }
  
   .in-greece h3{
    margin-top: 2rem;
  color: #535353;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  }
  .italy{
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1  1;
    padding: 0 5rem;
    background-color: #5350e9;
  }
  .italy p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
  }
  
   .italy h3{
    color: #535353;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .in-italy {
    display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 1  1;
  padding: 0 5rem;
  background-color: #d7f3ff;
  }
  

  .in-italy p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
  }
  
   .in-italy h3{
    margin-top: 2rem;
  color: #535353;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  }
  .india{
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1  1;
    padding: 0 5rem;
    background-color: #5350e9;
  }
  .india p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
  }
  
   .india h3{
    color: #535353;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .in-india {
    display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 1  1;
  padding: 0 5rem;
  background-color: #d7f3ff;
  }
  

  .in-india p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
  }
  
   .in-india h3{
    margin-top: 2rem;
  color: #535353;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  }
  .spain{
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1  1;
    padding: 0 5rem;
    background-color: #5350e9;
  }
  .spain p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
  }
  
   .spain h3{
    color: #535353;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .in-spain {
    display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 1  1;
  padding: 0 5rem;
  background-color: #d7f3ff;
  }
  

  .in-spain p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
  }
  
   .in-spain h3{
    margin-top: 2rem;
  color: #535353;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  }
  .turkey{
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1  1;
    padding: 0 5rem;
    background-color: #5350e9;
  }
  .turkey p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
  }
  
   .turkey h3{
    color: #535353;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .in-turkey {
    display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 1  1;
  padding: 0 5rem;
  background-color: #d7f3ff;
  }
  

  .in-turkey p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
  }
  
   .in-turkey h3{
    margin-top: 2rem;
  color: #535353;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  }
  .france{
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1  1;
    padding: 0 5rem;
    background-color: #5350e9;
  }
  .france p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
  }
  
   .france h3{
    color: #535353;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .in-france {
    display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 1  1;
  padding: 0 5rem;
  background-color: #d7f3ff;
  }
  

  .in-france p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
  }
  
   .in-france h3{
    margin-top: 2rem;
  color: #535353;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  }
  .country-maindishes-section{
    background-color: #acadff;
  }
  .country-maindishes-section p{
    color: #151b25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
  }
  
   .country-maindishes-section  h3{
    color: #535353;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.2rem;
    margin-bottom: .5rem;
  
  
  }
  .main{
    background-color: #f4fafd;
}