
body{
    overflow-x: hidden;
}
p{
    font-size: 22px;
}
.ultimate{
    width: 100%;
    height: 3745px;
    
}
.container{
    width: 800%;
    display: flex;
    height: 100%;
}
.section{
    transition: 1s;
    width: 14.28571428571429%;
}

.nav{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    width: 100px;
    height: 30px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 15px;
    color: white;
    text-align: center;
    padding: 3px;
}
.bar:hover{
    color: black;
    background: #fff;
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -14.28571428571429%;
}
#r3:checked ~ .s1{
    margin-left: -28.57142857142857%;
}
#r4:checked ~ .s1{
    margin-left: -42.85714285714286%;
}

.president{
    height: 200px;
    background-color: #02375e;
    position: initial;
    text-align: center;
}
.president h1{
    padding-top: 75px;
    color: rgb(212, 209, 209);
}
.aboutpresident{
    display: flex;
    height: 250px;
    background-color: #fff;
    padding: 20px;
}
.aboutpresident img{
    height: 100%;
}
.title{
    color: rgb(212, 209, 209);
    background-color: #02375e;
    height: 60px;
    padding-top: 1px;
    text-align: center;
}
.aboutcapital{
    padding: 20px;

    display: flex;
    height: 500px;
    
    background-color: #fff;
}
.abouthistory{
    padding: 20px;
    background-color: #fff;
    height: 475px;
}
.abouttemp{
    padding: 20px;
    background-color: #fff;
    
    height: 140px;
}
.aboutancient{
    padding: 20px;

    background-color: #fff;
    
    height: 900px;
}
.aboutpolitics{
    padding: 20px;

    background-color: #fff;
    
    height: 660px;
}
.aboutgovernment{
    padding: 20px;

    background-color: #fff;
    
    height: 600px;
}
.fix2{
    width: 87.5%;
}
.felx{
    display: flex;
}

footer{
    margin-top: 1300px;
}