@font-face{
    font-family: google; src: url('fonts/google.ttf');
}
::selection{
   background-color: rgb(15, 2, 33);
   color: #FFD53D;
}


/*
 background-image: url(images/egy.jfif);
    background-size: cover;
*/
main{
    padding: 0px 10px 10px 10px;
    height: 300vh;
    width: 100vw;
    display: grid;
  
   
}

section{
    padding: 100px 10px 10px 10px;
}
/*our colors #0067B3   #40B0DF #FFD53D light*/
.con{
    background-color:#fff;
    border: 1px solid #0067B3;
    border-radius: 13px;
    padding: 10px;
    margin-top: 10px;
    color: black;
}
.con  img{
    width: 250px;
    height: 300px;
    border-radius: 10px;
    margin: 20px;
    background-size: cover;
    transition: 0.7s ease;
}
.con img:hover{
  transform: scale(1.1);
  border-radius: 20px;
  
  
}
main{
    display: grid;
    grid-template-columns: 1fr 5fr ;
    gap : 20px;
}
.cont2{
    display: grid;
    grid-template-columns: 2fr 4fr ;
    gap: 10px;
}
.caption h3{
    margin-top: 10px;
    padding: 10px;
    color: black;
    background-color: #FFD53D;
    font-size: 1.4em;
    border-radius: 10px;
   transition: 0.7s ease;
}
.caption p{
    font-size: 1.2em;
}
.caption video{
    margin-top: 10px;
    background-color: #FFD53D;

    border-radius: 15px;
}
.destinations{
    padding: 100px 10px 10px 10px;
    margin-top: 3500px;
}
#icon{
    width: 80px;
    height: 90px;
}
#icon:hover{
   transform: rotate(0.09turn);
   
}
table{
 border: 1px solid #FFD53D;
 margin-bottom: 10px;
 padding: 20px;
 background-color: #FFD53D;
 color: black;
 text-align: center;

   
}
table td{
  
    padding: 10px;
    background-color:#147da3;
    color: #fff;
    border-radius: 10px;
}
iframe{
    border-radius: 10px;
    border: 5px solid #FFD53D;
    
}
#Flag td{
    background-color: #FFD53D;
    color: black;
}
table a{
    color: black;
    font-size: 1.1em;
    
}
/*comment style*/
.comcont{
   background-color: #EEE;

}
.comment{
    min-width: 320px;
    min-height: 412px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3020px;
    border: 1px solid black;
    border-radius: 15px;
    background:#0067B3;
    color: white;
    padding: 30px;
    background-image: url(images/back.jpg) ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.comment p{
    padding-top: 40px;
    padding-bottom: 40px;
}
.comment .upload  {
   padding-top: 10px;
}
.comment [type = text]{
    margin-top: 10px;
    min-width: 400px;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 40px;

    
}
#submit{
    padding: 10px;
    margin-top: 10px;
    position: relative;
    left:338px;

}
.stars{
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.stars label{
    display: inline-block;
    background-color: silver;
    clip-path: 
   polygon(50% 0%,61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
   transition: 0.4s ease-in-out;
    padding: 22px;
    
}
.stars label:hover{
   background-color: gold;
    transform: rotate(-0.25turn);
  
}
.stars label:hover~label{
    background-color: gold;
}
#star1:hover{
  background-color: aqua;
     
}
/*clip-path: 
polygon(50% 0%,
 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
 */
 #imagc{
     width: 200px;
     height: 200px;
     border-radius: 50%;
 }
 .stars [type= radio]{
     display: none;
 }
 .upload input{
     border-radius: 10px;
     border: none;
    
    
 }
 .upload input~ [type=text]{
    background-color: #eee;
    font-size: 1.2em;
    
   
}
 #submit{
     background-color: #FFD53D;
     border: none;
     border-radius: 10px;
 }
 footer{
    margin-top: 0px !important;
}

.win{
    background-color: green;
}
.lose{
    background-color: red;
}
.titleF{
    background-color: #0067b2;
}
.draw{
    background-color: #eee;
    color: #0067b2;
}
.balltab td{
    padding-right: 50px;
    padding-left: 9px;
    text-align: center;
}
.Audio{
    background-image: url(images/patren\ \(6\).jfif);
    border-radius: 10px;
    padding: 3px;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 80%;
    
}
.Audio img{
    border-radius: 15px;
  
}
.Audio img:hover{
    transform: none;
}
audio{
   padding: 10px;
}
@media (device-width: 100vw) and (device-height: 100vh) {
    .comment{
        margin-top: 2850px;
    }
}

.egytd{
    border: none !important;
}