*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
}

@font-face{
    font-family: google; src: url('fonts/google.ttf');
}

body{
    font-family: google;
}

.navbar{
    min-height: 10vh;
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
    z-index: 1;
}

.logo{
    margin-left: -30px;
    position: relative;
    width: 4in;
    margin-right: -50px;
}

.menu ul{
	display: flex;
	align-items: center;
    list-style: none;
}
.menu ul li a{
	text-decoration: none;
	padding: 5px 12px;
	letter-spacing: 2px;
	font-size: 20px;
    font-weight: 700;
}
.menu ul li a:hover{
	transition: 0.4s;
} 

.dropdown-menu {
    display: none;
}

.dropdown-menu ul {
    display: block;
}
.dropdown-menu ul li{
    padding: 8px;
}

.menu ul li:hover .dropdown-menu {
    z-index: 999;
    display: block;
    position: absolute;
    background-color:#144da3;
    padding: 15px;
}

.buttons{
	text-decoration: none;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	border-radius: 12px;
	padding: 12px 15px;
}
.buttons:hover{
	transition: 0.6s;
}

/* content */


#lol{
    min-height: 75vh;
}

#log{
    display: none;
}

/* end of content */
footer{
    min-height: 15vh;
    margin-top: 40px;
    padding-bottom: 80px;
}

footer a:hover{
    margin-left: 8px;
    transition-duration: 0.4s;
}

.footerContainer{
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: space-between;
}
.footerContainer .footerTeam{
    width: 15%;
    flex-direction: column;
    display: flex;
    margin: 40px;
}
.footerContainer .footerTeam h3{
    margin-bottom: 30px;
}

.footerContainer .footerAbout{
    width: 13%;
    flex-direction: column;
    display: flex;
    margin: 40px;
}
.footerContainer .footercopyr{
    margin: 40px;
    font-weight: 600;
    font-size: 35px;
}
.footerContainer a{
    padding-top: 5px;
    text-decoration: none;
    font-weight: 600;
}
.footerAbout a{
    padding-top: 14px;
    font-weight: 600;
    font-size: 21px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}