*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
}

@font-face{
    font-family: google; src: url('fonts/google.ttf');
}

body{
    font-family: google;
}

.header{
    min-height: 10vh;
    display:  flex;
    justify-content: space-between;
    padding: 5px 10px;
    width: 100%;
    height: 13%;
    position: fixed;
    z-index: 999;
    align-items: center;
    font-weight: 700;
    /* border-radius: 15px; */
}
.logo{
    position: relative;
    width: 4.333in;
    height: 0.903;
}
.nav-bar{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    font-size: 1.3em;
    margin-right: 60px;
}
.nav-bar a{
    margin-left: 0px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.buttons{
    margin-left: 85px;
}
.btn-style{
    font-size: 1em;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-family: 'Dosis', sans-serif;
}
.btn-style:hover{
    transform: scale(1.1);

}
/* content */


#lol{
    min-height: 75vh;
}

/* end of content */
footer{
    min-height: 15vh;
    margin-top: 40px;
    padding-bottom: 80px;

}
.footerContainer{
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: space-between;
}
.footerContainer .footerTeam{
    flex-direction: column;
    display: flex;
    margin: 40px;
}
.footerContainer .footerTeam h3{
    margin-bottom: 30px;
}

.footerContainer .footerAbout{
    flex-direction: column;
    display: flex;
    margin: 40px;
}
.footerContainer .footercopyr{
    margin: 40px;
    font-weight: 600;
    font-size: 35px;
}
.footerContainer a{
    padding-top: 5px;
    text-decoration: none;
    font-weight: 600;
}
.footerAbout a{
    padding-top: 14px;
    font-weight: 600;
    font-size: 21px;
}